/* main {
    padding: 80px 40px 10px 40px;
  } */

main {
    padding-top: 80px;
}

.main-heading {
    font-size: 1.2rem;
    padding: 0 40px 10px 40px;
}

.cart-summary-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 60px;
    margin-top: 60px;
}

.cart-with-shipping {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.shipping-address-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.delivery-details-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 40px;
    width: 80%;
}

.map-container iframe {
    border: 0;
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.delivery-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.delivery-address-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.edit-icon-flex {
    background-color: #EFECEC;
    padding: 5px 10px;
    border-radius: 20px;
}


.cart-items-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.cart-items-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.cart-item {
    gap: 20px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    align-items: center;
}

.cart-item img {
    height: 90px;
}

.quantity-container {
    display: flex;
    gap: 15px;
    align-items: center;
}

.quantity-container p {
    font-size: 1.1rem;
}

.quantity-container i {
    border: 1px solid black;
    padding: 9px 11px;
    border-radius: 100%;
}

.quantity-container i:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

#add-item-button {
    /* display: inline-flex; */
    /* min-height: 32px; */
    border-radius: 100%;
    border: none;
    cursor: pointer;
    text-align: center;
    background-color: black;
    box-shadow: transparent 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.2) 0px 2px 8px;
    color: white;
    /* height: 14px;
    width: 24px; */
    padding: 6px 11px;
    align-items: center;
    justify-content: center;
    /* margin-left: auto; */
    font-size: 1.2rem;
}

#add-item-button:hover {
    color: black;
    background-color: green;
}

.order-checkout-summary {
    /* width: 50%; */
    display: flex;
    border: 1px solid grey;
    padding: 60px;
    border-radius: 10px;
    flex-direction: column;
    gap: 40px;
    margin: 0 20px;
}

.restuarent-name-logo-flex {
    display: flex;
    align-items: center;
    gap: 15px
}

.restuarent-name-logo-flex img {
    border-radius: 50%;
    border: 1px solid gray;
    width: 54px;
    height: 54px;
}

.order-totals {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.order-total-details-flex {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.order-total-details-flex p {
    font-size: 1.1rem;
}

.Payment-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-container {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.1rem;
}


#place-order-button {
    color: white;
    padding: 12px 10px;
    border-radius: 15px;
    background-color: black;
    border: none;
    width: 100%;
    font-size: 1.4rem;
    cursor: pointer;
    font-weight: 600;
    font-family: "Dosis", sans-serif;
}

#place-order-button:hover {
    background-color: red;
    color: black;
}


/*  */

.flex-2 {
    display: flex;
    gap: 5px;
    align-items: center;
}

.align-flex-end {
    margin-left: auto;
}

.reg-txt {
    font-weight: 500;
}

.bold-txt-sm {
    font-weight: 600;
    font-size: 1rem;
}

.bold-txt-md {
    font-weight: 600;
    font-size: 1.2rem;
}

.reg-txt-md {
    font-weight: 500;
    font-size: 1.1rem;
}

hr {
    margin-left: 0;
    margin-right: 0;
}

/*  */