/* Mobile */

@media only screen and (max-width: 768px) {

    /* Home Page */

    .location-menu-item,
    .search-nav-item {
        display: none;
    }

    .cart-nav-item {
        align-self: flex-end;
        margin-left: auto !important;/
    }

    .menu-categories {
        overflow-x: scroll;
        margin: 30px 40px 10px 40px;
    }

    .filter-options-container {
        overflow-x: scroll;
        margin: 30px 40px 10px 40px;
    }

    .all-banner {
        font-size: 1rem;
    }

    .promotional-offers-section {
        margin: 30px 40px 10px 40px;
    }

    .promotional-offers-container {
        gap: 20px 0;
        grid-auto-flow: row;
        grid-auto-rows: 1fr;
    }

    .features-restuarents-section {
        margin: 30px 40px 10px 40px;
    }

    .features-restuarents-container {
        gap: 40px 0;
        grid-auto-flow: row;
        grid-auto-rows: 1fr;
    }

    .all-restuarents-section {
        margin: 30px 40px 10px 40px;
    }

    .all-restuarents-container {
        grid-template-columns: auto;
        gap: 40px;
    }

    .footer-container {
        flex-direction: column;
        padding: 60px 40px 40px 40px;
        gap: 50px;
        margin-top: 40px;
    }

    /* Restuarent */
    .restuarent-logo-search {
        flex-direction: column;
    }

    #restuarentSearchButton {
        display: none;
    }

    .restuarent-details-container {
        flex-direction: column;
        gap: 10px;
    }

    .restuarent-filter-options-container {
        overflow-x: scroll;
        margin: 10px 0;
    }

    .restuarent-menu-items-container {
        flex-direction: column;
        gap: 30px;
        margin-top: 20px;
    }

    .restuarent-menu-grid {
        display: grid;
        grid-template-columns: auto;
        gap: 40px 0;
    }

    .restuarent-menu {
        align-items: center;
    }

    .restuarent-menu-names {
        align-items: center;
    }

    /* Cart */
    .cart-summary-container {
        grid-template-columns: auto;
        gap: 0 60px;
        margin-top: 40px;
    }

    .cart-summary-container {
       margin: 20px;
    }

    /* Orders */
    .order {
        flex-direction: column;
        border-bottom: 1px solid black;
        padding-bottom: 20px;
    }

    .order-completed-container {
        gap: 40px;
    }

    /* Account */

    .account-container {
        width: 85%;
    }

    .change-pass-container {
        width: 85%;
    }

    #accountNameInput,
    #accountEmailInput,
    #accountCellInput,
    .pass {
        padding: 0.5rem 8rem 0.5rem 1rem;
    }

    /* About */

    .about-container {
        margin: 40px 20px;
    }

    /* Contact */
    .contact-us-container {
        flex-direction: column;
    }
    

    /* Popup */
    .popup {
        width: 70%;
        left: 50%;
        margin-left: -35%;
    }
    
}