@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin: 0;
}

main {
    padding: 80px 40px 10px 40px;
}

p {
    margin: 0;
}

.hero-banner img {
    height: 200px;
    width: 100%;
    border-radius: 0 20px 0 20px;
    object-fit: cover;
}

.restuarent-logo-search {
    display: flex;
}

.restuarent-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.restuarent-logo h2 {
    margin: 0;
}

.restuarent-logo img {
    border-radius: 50%;
    border: 1px solid black;
    width: 64px;
    height: 64px;
}


.restuarent-search {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 10px;
}

#searchButton {
    color: white;
    padding: 4px 30px;
    border-radius: 20px;
    background-color: black;
}

#searchButton:hover {
    background-color: red;
    color: white;
}

.restuarent-details-container {
    display: flex;
    margin-top: 20px;
    gap: 100px;
}

.restuarent-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.rating-flex {
    display: flex;
    align-items: center;
    gap: 6px;
}

.delivery-details {
    display: flex;
    flex-direction: column;
}

.filter-options-container {
    display: flex;
    margin: 0 50px;
    gap: 30px;
}

.filter-option {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #DDDDDD;
    margin: auto 0;
    padding: 5px 15px;
    border-radius: 20px;
}

.filter-option:hover {
    background-color: black;
    color: white;
}

.restuarent-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.restuarent-menu-names {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.restuarent-menu-items-container {
    display: flex;
    gap: 100px;
    margin-top: 20px;
    /* min-width: fit-content; */
}

.restuarent-menu-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px 60px;
}

.restuarent-menu-grid img {
    width: 100%;
    height: 200px;
    border-radius: 20px;
}

.restuarent-menu-grid-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.restuarent-menu-grid-item-text {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}


.restuarent-item-name {
    display: flex;
    align-items: center;
}

.restuarent-item-name h3 {
    margin: 0;
}

#add-item-button {
    display: inline-flex;
    min-height: 32px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    text-align: center;
    background-color: black;
    box-shadow: transparent 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.2) 0px 2px 8px;
    color: white;
    height: 32px;
    width: 32px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

#add-item-button:hover {
    color: black;
    background-color: white;
}
